<div class="row">
  <div class="col-md-12">
    <input class="form-control form-control-lg" type="text" placeholder="Search something" name="search" [(ngModel)]="searchParams" (ngModelChange)="searchHeroes($event)">
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-4" *ngFor="let hero of herosList">
    <a [routerLink]="['/heros', hero.id]">
      <div class="card card-hero">
        <img class="card-img" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="{{hero.name}}">
        <h5 class="card-title">{{hero.name}}</h5>
      </div>
    </a>
  </div>
</div>
<app-load-animation *ngIf="loadingList"></app-load-animation>
