.card-hero {

  margin: 10px 0;
  height: 350px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  overflow: hidden;

  img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    transition: transform 300ms;
  }

  h5{
    position: absolute;
    color: #fff;
    padding: 15px;
    z-index: 2;
  }

  &::before{
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(transparent, #000);
  }

  &:hover{
    img{
      transform: scale(1.1);
    }
  }

}


